/* Universal Style Sheets */

@import url(globalorange_sub.css);

/* Orange Theme */

body {
background: url('../i/m/b/blu/cor7.png');
background-attachment: fixed;
background-color: #ffffff;
background-position: top left;
background-repeat: repeat;
}

a {
color: #004080;
}

a:hover {
color: #5084c1;
}

hr {
color: #f3f3f3;
}

.togglehaf {
}

/* Begin Global Pages */
/** Begin Header */

#header {
background: url('../i/m/b/blu/banner_background.png');
background-attachment: scroll;
background-position: top left;
background-repeat: repeat;
}

#togglehead {
}

/*** Begin Site Name */

#header #hnslogo {
}

#header #hnslogo .sitename {
color: #ffffff;
}

#header #hnslogo .sitenamer {
color: #ffffff;
}

#header #hnslogo .sitenamer a.sitelink {
color: #ffffff;
}

#header #hnslogo .sitenamer a.sitelink:hover {
color: #ffffff;
}

#header #hnslogo .siteslogan {
color: rgb(184,211,97);
}

#header #hnslogo .sitesloganr {
color: rgb(184,211,97);
}

/* End Site Name ***/
/*** Begin Logged In */

#header #loggedin {
background: url('../i/m/b/blu/top_login_background25.png');
background-attachment: scroll;
background-position: top center;
background-repeat: no-repeat;
border-width: 0;
color: #00468c;
}

#header #loggedin a, 
#header #loggedin a:visited {
color: #ffffff;
}

#header #loggedin a:hover {
border-bottom: 1px dotted #ffffff;
color: #ffffff;
}

#header #loggedin .content {
}

#header #loggedin .content .userimage {
}

#header #loggedin .content .userimage #userimage {
}

#header #loggedin .content .greeting {
}

#header #loggedin .content .greeting .name {
}

#header #loggedin .content .myaccount {
}

#header #loggedin .adminarea {
}

#header #loggedin .logout {
}

/**** Begin Sam */

#sam {
}

#sam .status {
color: #00468c;
}

#sam .status .text {
color: #ffffff;
}

#sam .mood {
color: #00468c;
}

#sam .mood .text {
color: #ffffff;
}

/***** Begin Sam Update */

#samupdate {
background-color: #ccccff;
border: 1px solid #5084c1;
}

#samupdate a {
color: #004080;
}

#samupdate a:hover {
color: #6398d1;
}

#samupdate a.close {
}

#samupdate .closespan {
background-color: #5084c1;
}

#samupdate .header {
}

#samupdate .splash {
background-color: #6398d1;
}

#samupdate form#samform {
}

#samupdate table {
}

#samupdate td {
}

#samupdate .statusseparator {
}

#samupdate .moodseparator {
}

#samupdate label {
color: #ffffff;
}

#samupdate input[type="text"]#textbox {
}

#samupdate input[type="submit"]#statusbutton {
}

#samupdate input[type="submit"]#sambutton {
}

#samupdate input[type="submit"]#moodbutton {
}

/* End Sam Update *****/
/* End Sam ****/
/* End Logged In ***/
/*** Begin Signin */

#header #signin {
background: url('../i/m/b/blu/top_login_background25.png');
background-attachment: scroll;
background-position: top center;
background-repeat: no-repeat;
color: #00468c;
}

#header #signin div#content {
}

#header #signin div#content a, 
#header #signin div#content a:visited {
color: #ffffff;
}

#header #signin div#content a:hover {
color: #ffffff;
}

#header #signin div#content #username {
color: #000000;
}

#header #signin div#content #password {
color: #000000;
}

#header #signin div#content .button {
background: url(../i/m/b/blu/button_sign_in.png) no-repeat;
color: #ffffff;
}

#header #signin div#content #remember {
}

#header #signin div#content #remember a.link, 
#header #signin div#content #remember a.link:visited {
color: #ffffff;
}

#header #signin div#content #remember a.link:hover {
color: #ffffff;
}

#header #signin div#content #forgot {
}

#header #signin div#content #forgot a.link, 
#header #signin div#content #forgot a.link:visited {
color: #ffffff;
}

#header #signin div#content #forgot a.link:hover {
color: #ffffff;
}

#header #signin div#content #rememberlife {
}

#header #signin div#content #rememberlife #dropdown {
}

/* End Signin ***/
/*** Begin Tabs | Background Colors #5084c1 and #6398d1 */

#header #tabs {
color: #ffffff;
}

#header #tabs ul {
}

#header #tabs ul li {
}

#header #tabs ul li a {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/tab_inactive25s.png');
background-position: 0% 0%;
background-repeat: no-repeat;
color: #ffffff;
}

#header #tabs ul li a.active {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/tab_active25s.png');
background-position: 0% 0%;
background-repeat: no-repeat;
color: #ffffff;
}

#header #tabs ul li a.active:hover {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/tab_active25s.png');
background-position: 0% 0%;
background-repeat: no-repeat;
color: #6398d1;
}

#header #tabs ul li a:hover {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/tab_active25s.png');
background-position: 0% 0%;
background-repeat: no-repeat;
color: #6398d1;
}

/* End Tabs ***/
/*** Begin Drop Down Navigation User */

html #header #navigationuser ul li {
}

html #header #navigationuser ul li a {
}

#header #navigationuser li:hover ul, 
#header #navigationuser li.over ul {
}

#header #navigationuser {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/background.jpg');
background-position: 0% 0%;
background-repeat: repeat-x;
}

#header #navigationuser ul {
}

#header #navigationuser ul li {
}

#header #navigationuser ul li:hover {
}

#header #navigationuser ul li a {
background-color: RGB(210,231,242);
border: 1px solid RGB(139,191,222);
color: #777777;
}

#header #navigationuser ul li a:hover {
background-color: RGB(187,217,236);
}

#header #navigationuser li ul {
}

#header #navigationuser ul#subnav li {
background-color: RGB(139,191,222);
}

#header #navigationuser ul#subnav li:hover {
}

#header #navigationuser ul#subnav li.first {
}

#header #navigationuser ul#subnav li.last {
}

#header #navigationuser ul#subnav li a {
background-color: RGB(139,191,222);
border: 1px solid RGB(139,191,222);
color: #777;
}

#header #navigationuser ul#subnav li a:hover {
background-color: RGB(210,231,242);
border: 1px solid #5084c1;
}

/**** Begin Home */

#header #navigationuser ul li.home {
}

#header #navigationuser ul li.home a {
}

/* End Home ****/
/**** Begin More */

#header #navigationuser ul li.more {
}

#header #navigationuser ul li.more a {
}

#header #navigationuser ul li.more ul#subnav li {
}

#header #navigationuser ul li.more ul#subnav li:hover {
}

#header #navigationuser ul li.more ul#subnav li.first {
}

#header #navigationuser ul li.more ul#subnav li.last {
}

#header #navigationuser ul li.more ul#subnav li a {
}

#header #navigationuser ul li.more ul#subnav li a:hover {
}

/* End More ****/
/**** Begin Member */

#header #navigationuser ul li.member {
}

#header #navigationuser ul li.member a {
}

#header #navigationuser ul li.member ul#subnav li {
}

#header #navigationuser ul li.member ul#subnav li:hover {
}

#header #navigationuser ul li.member ul#subnav li.first {
}

#header #navigationuser ul li.member ul#subnav li.last {
}

#header #navigationuser ul li.member ul#subnav li a {
}

#header #navigationuser ul li.member ul#subnav li a:hover {
}

/* End More ****/
/**** Begin Search */

#header #navigationuser ul li#directorysearch {
color: #ffffff;
}

#header #navigationuser ul li#directorysearch #search {
}

#header #navigationuser ul li#directorysearch #searchquery {
}

#header #navigationuser ul li#directorysearch #searchquery #input {
color: #afafaf;
}

#header #navigationuser ul li#directorysearch #searchquery .button {
background: url(../i/m/b/blu/button_search.png) no-repeat;
color: #ffffff;
}

/* End Search ****/
/* End Drop Down Navigation User ***/
/*** Begin Drop Down Navigation */

html #header #navigation ul li {
}

html #header #navigation ul li a {
}

#header #navigation li:hover ul, 
#header #navigation li.over ul {
}

#header #navigation {
background-attachment: scroll;
background-color: transparent;
background-image: url('../i/m/b/n/background.jpg');
background-position: 0% 0%;
background-repeat: repeat-x;
}

#header #navigation ul {
}

#header #navigation ul li {
}

#header #navigation ul li:hover {
}

#header #navigation ul li a {
background-color: RGB(210,231,242);
border: 1px solid RGB(139,191,222);
color: #777777;
}

#header #navigation ul li a:hover {
background-color: RGB(187,217,236);
}

#header #navigation li ul {
}

#header #navigation ul#subnav li {
background-color: RGB(139,191,222);
}

#header #navigation ul#subnav li:hover {
}

#header #navigation ul#subnav li.first {
}

#header #navigation ul#subnav li.last {
}

#header #navigation ul#subnav li a {
background-color: RGB(139,191,222);
border: 1px solid RGB(139,191,222);
color: #777;
}

#header #navigation ul#subnav li a:hover {
background-color: RGB(210,231,242);
border: 1px solid #5084c1;
}

/**** Begin More */

#header #navigation ul li.more {
}

#header #navigation ul li.more a {
}

#header #navigation ul li.more ul#subnav li {
}

#header #navigation ul li.more ul#subnav li:hover {
}

#header #navigation ul li.more ul#subnav li.first {
}

#header #navigation ul li.more ul#subnav li.last {
}

#header #navigation ul li.more ul#subnav li a {
}

#header #navigation ul li.more ul#subnav li a:hover {
}

/* End More ****/
/**** Begin Member */

#header #navigation ul li.member {
}

#header #navigation ul li.member a {
}

#header #navigation ul li.member ul#subnav li {
}

#header #navigation ul li.member ul#subnav li:hover {
}

#header #navigation ul li.member ul#subnav li.first {
}

#header #navigation ul li.member ul#subnav li.last {
}

#header #navigation ul li.member ul#subnav li a {
}

#header #navigation ul li.member ul#subnav li a:hover {
}

/* End More ****/
/**** Begin Search */

#header #navigation ul li#directorysearch {
color: #ffffff;
}

#header #navigation ul li#directorysearch #search {
}

#header #navigation ul li#directorysearch #searchquery {
}

#header #navigation ul li#directorysearch #searchquery #input {
color: #afafaf;
}

#header #navigation ul li#directorysearch #searchquery .button {
background: url(../i/m/b/blu/button_search.png) no-repeat;
color: #ffffff;
}

/* End Search ****/
/* End Drop Down Navigation ***/
/*** Begin Errors */

#error {
}

/**** Begin Url */

#error .url {
}

#error .url .row {
background-color: #ffffff;
}

#error .url .row .cell {
}

/* End Url ****/
/**** Begin Global */

#error .global {
}

#error .global .row {
background-color: #ffffff;
}

#error .global .row .cell {
}

/* End Global ****/
/**** Begin Login */

#error .login {
}

#error .login .row {
background-color: #ffffff;
}

#error .login .row .cell {
}

/* End Login ****/
/**** Begin Update */

#error .update {
}

#error .update .row {
background-color: #ffffff;
}

#error .update .row .cell {
}

#error .update .row .cell .header {
}

#error .update .row .cell .list {
}

/* End Update ****/
/**** Begin Register */

#error .register {
}

#error .register .row {
background-color: #ffffff;
}

#error .register .row .cell {
}

#error .register .row .cell .header {
color: #ff0000;
}

#error .register .row .cell .list {
}

/* End Register ****/
/**** Begin Create Group */

#error .creategroup {
}

#error .creategroup .row {
background-color: #ffffff;
}

#error .creategroup .row .cell {
}

#error .creategroup .row .cell .header {
color: #ff0000;
}

#error .creategroup .row .cell .list {
}

/* End Create Group ****/
/**** Begin Reset Password */

#error .resetpassword {
}

#error .resetpassword .row {
background-color: #ffffff;
}

#error .resetpassword .row .cell {
}

#error .resetpassword .row .cell .header {
color: #ff0000;
}

#error .resetpassword .row .cell .list {
}

/* End Reset Password ****/
/* End Errors ***/
/*** Begin Messages */

#message {
}

/**** Begin Url */

#message .url {
}

#message .url .row {
background-color: #ffffff;
}

#message .url .row .cell {
}

/* End Url ****/
/**** Begin Global */

#message .global {
}

#message .global .row {
background-color: #ffffff;
}

#message .global .row .cell {
}

/* End Global ****/
/**** Begin Normal */

#message .normal {
}

#message .normal .row {
background-color: #ffffff;
}

#message .normal .row .cell {
}

/* End Normal ****/
/* End Messages ***/
/* End Header **/
/** Begin Footer */

#footer {
background: url('../i/m/b/blu/footer_background.png');
background-attachment: scroll;
background-color: transparent;
background-position: bottom left;
background-repeat: repeat;
}

#togglefoot {
}

/*** Begin Worldwide Languages */

#worldwidelang {
background-color: #ccccff;
border: 1px solid #5084c1;
}

#worldwidelang a {
color: #004080;
}

#worldwidelang a.close {
color: #004080;
}

#worldwidelang a:hover {
color: #6398d1;
}

#worldwidelang .closespan {
background-color: #5084c1;
}

#worldwidelang .linkdiv {
}

#worldwidelang a.languages {
}

#worldwidelang a.languages:hover {
color: #6398d1;
}

/* End Worldwide Languages ***/

#footer a, 
#footer a:visited {
color: #ffffff;
}

#footer a:hover {
border-bottom: 1px dotted #ffffff;
color: #ffffff;
}

#footer dl {
color: #badf74;
}

#footer dl dt {
color: #badf74;
}

#footer dl dd {
}

#footer dl.copyright {
color: #badf74;
}

#footer dl.copyright dt {
color: #badf74;
}

#footer dl.copyright dd {
}

#footer dl.homepagethemes {
background: url('../i/sy/e/Line%20Seperator.png');
background-attachment: scroll;
background-color: transparent;
background-position: top right;
background-repeat: no-repeat;
color: #badf74;
}

#footer dl.homepagethemes dt {
color: #badf74;
}

#footer dl.homepagethemes dd {
}

#footer dl.homepagethemes dd span span {
}

#footer dl.aboutus {
background: url('../i/sy/e/Line%20Seperator.png');
background-attachment: scroll;
background-color: transparent;
background-position: top right;
background-repeat: no-repeat;
color: #badf74;
}

#footer dl.aboutus dt {
color: #badf74;
}

#footer dl.aboutus dd {
}

#footer dl.companyrelations {
background: url('../i/sy/e/Line%20Seperator.png');
background-attachment: scroll;
background-color: transparent;
background-position: top right;
background-repeat: no-repeat;
color: #badf74;
}

#footer dl.companyrelations dt {
color: #badf74;
}

#footer dl.companyrelations dd {
}

#footer dl.explore {
color: #badf74;
}

#footer dl.explore dt {
color: #badf74;
}

#footer dl.explore dd {
}

/*** Begin Homepage Themes */

#footer .blue {
color: blue;
}

#footer .orange {
color: orange;
}

#footer .green {
color: green;
}

#footer .yellow {
color: yellow;
}

#footer .red {
color: red;
}

#footer .black {
color: black;
}

/* End Homepage Themes ***/
/* End Footer **/
/* End Global Pages */
/* Begin Main | Apply To Every Page */

div.pagecontent {
background-color: #ff8000;
}

small.formreminder {
color: #ff0000;
}

/* End Main */